@using Web.Models
@model PictureModel
@{
    ViewBag.Title = "CreateImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateImage</h2>

@using (Html.BeginForm("CreateImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
       
       
        Image<br />
        <input type="file" name="file" id="file" style="width: 100%;" /> <br />
        <input type="submit" value="Upload" class="submit" />
    </div>
}

@section Scripts {
    
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
}